
<body>
    <div style="padding-top: 30px;">
      <mat-icon class="plus" routerLink="/ajoutPlat">add_circle_outline</mat-icon>  
      <h1 style="text-align: center;font-weight: bold;">Liste des menus</h1> 
    </div>

    <div class="container">
      <div class="row">
          <h1 style="text-align: center;">Plat</h1>
          <mat-card class="col-md-3" *ngFor="let plat of listplat">
                <p class="icon">
                    <mat-icon style="color: orange;" (click)="btnmodif(plat.id_plat)">create</mat-icon><br>
                    <mat-icon style="color: red;" (click)="SuppPlat(plat.id_plat)">delete</mat-icon>
                </p>
                
                <img src="{{image}}  {{plat.id_plat}}" alt="" srcset="" style="width: 100px;height: 100px;position: relative;">
                <h3>{{plat.nom_plat}}</h3>
                <h3>{{plat.prix_plat}}</h3>
          </mat-card>
          
          
        </div>
    </div>   
</body>
   
    
   

