<h2>Responsive Table</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Commande</th>
            <th>Plats</th>
            <th>Montant</th>
            <th>Adresse</th>
            <th>Etat</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Content 1</td>
            <td>Content 1</td>
            <td>Content 1</td>
            <td>Content 1</td>
            <td>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Attente</mat-radio-button>
                    <mat-radio-button value="2">Encours</mat-radio-button>
                    <mat-radio-button value="3">Livrée</mat-radio-button>
                  </mat-radio-group>
            </td>
        </tr>
        <tr>
            <td>Content 2</td>
            <td>Content 2</td>
            <td>Content 2</td>
            <td>Content 2</td>
            <td> 
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Attente</mat-radio-button>
                    <mat-radio-button value="2">Encours</mat-radio-button>
                    <mat-radio-button value="3">Livrée</mat-radio-button>
                  </mat-radio-group>
            </tr>
        <tr>
            <td>Content 3</td>
            <td>Content 3</td>
            <td>Content 3</td>
            <td>Content 3</td>
            <td>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Attente</mat-radio-button>
                    <mat-radio-button value="2">Encours</mat-radio-button>
                    <mat-radio-button value="3">Livrée</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
        <tr>
            <td>Content 4</td>
            <td>Content 4</td>
            <td>Content 4</td>
            <td>Content 4</td>
            <td>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button class="mat-radio-button" value="1">Attente</mat-radio-button>
                    <mat-radio-button value="2">Encours</mat-radio-button>
                    <mat-radio-button value="3">Livrée</mat-radio-button>
                  </mat-radio-group>
                
            </td>
        </tr>
     
       
        <tbody>
    </table>
</div>