<mat-card style="background-color: rgb(255, 255, 255);border-radius: 30px;">
    <div>
        <h1 style="text-align: center;color: black;font-weight: bold;">Ajouter Plats</h1>
        <form #dataplat="ngForm" (ngSubmit)="ajoutPlat(dataplat)" class="form">
            <span>
               
                <input type="text" name="nom_plat"  ngModel required placeholder="Nom">
            </span>
            <span>
                <input type="number" ngModel name="prix_plat" ngModel required placeholder="Prix">
            </span>
            <span>
                
                <input type="text" ngModel name="description" ngModel required placeholder="Description">
            </span>
            <div>
                
                <input type="file" #file ngModel name="image" ngModel (change)="lirephoto(file.files)" required  accept=".jpg, .jpeg, .png" placeholder="Choisir une Photo">
            
                
                <button type="submit" style="background-color: black; padding: 10px 30px;margin: 20px 120px;">Ajouter</button>
            </div>
        </form>
    </div>  

    
</mat-card>
