<mat-card style="background-color: rgb(193, 196, 196);border-radius: 30px;">
    <div>
        <h1 style="text-align: center;color: black;font-weight: bold;">Modification Plat</h1>
        <form action="" method="post" class="form">
            <div>
                <label for=""></label>
                <input type="text" value="">
            </div>
            <div>
                <label for=""></label>
                <input type="text" value="">
            </div><div>
                <label for=""></label>
                <input type="text" value="">
            </div><div>
                <label for=""></label>
                <input type="text" value="">
            </div><div>
                <label for=""></label>
                <input type="text" value="">
            </div><div>
                <label for=""></label>
                <input type="text" value="">
            </div><div>
                <label for=""></label>
                <input type="text" value="">
            </div>
            <div>
                
                <button type="submit" style="background-color: black; padding: 10px 20px;margin: 20px 120px;">Modifier</button>
            </div>
        </form>
    </div>    
    
</mat-card>
