

.form{
    display: block;
    justify-content: center;
    justify-items: center;
    margin: 20px 50px;
}
.form input{
    padding-right: 90px;
    padding-bottom: 20px;
    margin: 10px 50px;
    border-radius: 10px;
    border: orange solid 2px ;
}