<mat-card style="background-color: rgb(255, 255, 255);border-radius: 30px;">
    <div>
        <h1 style="text-align: center;color: black;font-weight: bold;">Ajouter Menu</h1>
        <form  class="form">
            <span>
               
                <input type="text" >
            </span>
            <span>
                <input type="number" >
            </span>
            <span>
                
                <input type="text" >
            </span>
            <div>
                
                <input type="file" >
            </div>
            
            <div>
                
                <button type="submit" style="background-color: black; padding: 10px 30px;margin: 20px 120px;">Ajouter</button>
            </div>
        </form>
    </div>  

    
</mat-card>
<p>ajout-menu works!</p>
