
.form{
    display: block;
    justify-content: center;
    justify-items: center;
    margin: 20px 50px;
}
.form input{
    padding-right: 90px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 40px 50px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: black solid 4px ;
    color: black;
    font-size: large;
    text-align: left;
    background-color: rgb(219, 214, 214) ;
    
    
}

